# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
*.log

# environment variables
.env
.env.*
!.env.example
!.env.sample

# package manager / tool caches
.npm/
.cache/
