.header-container{
    display: flex;
    background-color: rgb(237, 228, 228);
    justify-content: space-between;
    align-items: center;
    padding: 1% 2rem;

}
nav a{
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.2rem;

    
}
nav button{
    border: none;
    font-size: 1rem;
    display: inline-block;
    margin-left: 2rem;
    cursor: pointer;
    padding: 5px 8px;
    background-color: black;
    color: white;
    border-radius: 15px;
}
.logo{
    text-align: center;
}
nav a:hover{
    background-color:  #333;
    /* padding:0px 2px;  */
    color: white;
    opacity: 0.8;
}